<div class="container-fluid max-width-900">

  <!-- Listado de cursos -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Id de la asignatura</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>

    <!--  Este código imprime curso por curso del listado de cursos -->
    <ng-container *ngFor="let asignatura of asignaturas">
      <tr>
        <td (click)="onSelected(asignatura)" class="clickable">{{asignatura.nombreAsignatura}}</td>
        <td (click)="onSelected(asignatura)" class="clickable">{{asignatura.codAsignatura}}</td>
        <td (click)="borrarAsignatura(asignatura)" class="clickable"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"  alt="borrar curso"/>
        </svg>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-block" (click)="crearAsignatura()" >Crear asignatura</button>
    </div>
  </div>
</div>
