.table {
  width: 802px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Montserrat;
  font-size: 14px;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 300px;
  overflow-y: auto;
}

td {
  cursor: pointer;
}



/*
.btn-primary{
  font-family: Montserrat;
  font-size: 14px;
  opacity: 1;
  position: absolute;
  border-radius: 5px;
  background: #feaf00;
  border: 2px;
}

.btn-danger{

}

.btn-sm{

}
 */
