<form [formGroup]="crearAsignaturaForm" (ngSubmit)="crearAsignatura(crearAsignaturaForm.value)">
  <div class="content-form">
    <div class="row rowfirst">
      <label for="nombre">Nombre de la asignatura</label>
      <input id = "nombre"
             type="text"
             name="nombre"
             formControlName="nombreAsignatura"
             placeholder="Escriba el nombre de la asignatura aquí">
    </div>

    <div class="col col-4">
      <button type="submit" class="btn btn-primaryCA">Crear asignatura</button>
      <button type="button" class="btn btn-dangerCA" (click)="cancelarCrearAsignatura()">Cancelar</button>
    </div>
  </div>
</form>
